{% extends 'home/base.html' %}
{% block title%}About{% endblock%}
{% block content %}
<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet our leadership</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Group Members.</p>
      </div>
      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="https://thumbs.dreamstime.com/b/icono-del-usuario-dise%C3%B1o-plano-avatar-vector-masculino-inconformista-99281046.jpg" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Bùi Duy Hiệp</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">B21DCCN340</p>
            </div>
          </div>
        </li>
  
        <!-- More people... -->
        <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 rounded-full" src="https://thumbs.dreamstime.com/b/icono-del-usuario-dise%C3%B1o-plano-avatar-vector-masculino-inconformista-99281046.jpg" alt="">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Trần Hoàng Hiệp</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">B21DCCN346</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 rounded-full" src="https://thumbs.dreamstime.com/b/icono-del-usuario-dise%C3%B1o-plano-avatar-vector-masculino-inconformista-99281046.jpg" alt="">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Lương Việt Hùng</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">B21DCCN410</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 rounded-full" src="https://thumbs.dreamstime.com/b/icono-del-usuario-dise%C3%B1o-plano-avatar-vector-masculino-inconformista-99281046.jpg" alt="">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Nguyễn Mạnh Hiếu</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">B21DCCN364</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 rounded-full" src="https://thumbs.dreamstime.com/b/icono-del-usuario-dise%C3%B1o-plano-avatar-vector-masculino-inconformista-99281046.jpg" alt="">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Đặng Việt Khôi</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">B21DCCN460</p>
              </div>
            </div>
          </li>
      </ul>
    </div>
  </div>
{% endblock %}