{% extends 'home/base.html' %}
{% block title %}Detail{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="bg-blue-500 text-white p-2 rounded-lg">
    <p>{{message}}</p>
</div>
{% endfor %}
{% endif %}
<div class="bg-gray-100 min-h-screen flex justify-center">
    <div class="w-full p-4 lg:p-8 shadow-md lg:w-3/4 lg:flex lg:items-center lg:mx-auto mt-5">
        <div class="lg:w-1/2 p-4">
            {% if 'http' in item.image_link.url %}
            {% with https_url=item.image_link.url|slice:'16:'|safe %}
                <img src="https://{{ https_url }}" alt="Ảnh" class="w-full h-auto">
            {% endwith %}
            {% else %}
            <img src="{{ item.image_link.url }}" alt="Product" class="w-full h-auto">
            {%endif%}
 
            
        </div>
        <div class="lg:w-1/2 p-4">
            <h1 class="text-2xl font-bold">{{item.name}}</h1>
            <div class="mt-4">
                <h2 class="text-xl font-semibold">Description:</h2>
                <p>{{item.description}}</p>
            </div>
            <div class="mt-4">
                <p class="text-2xl text-red-600 font-semibold">{{item.price|floatformat:3}} đ</p>
            </div>
            <div class="mt-4">
                <a href="{% url 'Cart:cart_add' item.id %}" class="bg-blue-500 text-white py-2 px-4 rounded-full">Add to cart</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}