{% extends 'home/base.html' %}
{% block title%}Product{% endblock%}
{% block content %}
<div class="flex">
    <div class="w-1/4 p-4">
        <h1 class="text-2xl font-bold mb-4">Category List</h1>
        <ul>
            <!-- Danh sách danh mục sẽ được hiển thị ở đây -->
            {% for category in categories %}
                <li class="bg-white text-black p-2 mb-2 border-b border-gray-300">
                    <a href="{% url 'home:category_detail' category.id %}" class="text-black-500 hover:underline">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="w-3/4 p-4 mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
        <!-- Nội dung sản phẩm của danh mục sẽ được hiển thị ở đây -->
        {% for item in items %}
        <div class="group relative shadow-md px-1 py-1 rounded-xl">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            {% if 'http' in item.image_link.url %}
            {% with https_url=item.image_link.url|slice:'16:'|safe %}
                <img src="https://{{ https_url }}" alt="Ảnh" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            {% endwith %}
            {% else %}
            <img src="{{ item.image_link.url }}" alt="Product" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            {%endif%}
          </div>
          <div class="mt-4">
            <div class="text-md font-semibold text-gray-700 overflow-hidden" style="max-height: 1.5em;">
              <a href="{% url 'home:detail' item.id %}">
                <span aria-hidden="true" class="absolute inset-0"></span>
                {{item.name}}
              </a>
            </div>
            <p class="text-sm font-bold text-red-600 mb-4">{{item.price|floatformat:3}}</p>
          </div>
        </div>    
        {% endfor %}
    </div>
</div>
{% endblock %}