{% extends "home/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="col-xl-4">
        <div class = "card mb-4 mb-x1-0">
            <div class = "card-header">Ảnh Đại Diện</div>
            <div class = "card-body text-center">
                <img class="img-account-profile rounded-circle mb-2" src="{{ user.profile.avatar.url }} ">
            </div>
        </div>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="text-gray-600 mb-2 text-center">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="block text-sm font-medium leading-6 text-gray-900">Username:</label>
                            {{ user_form.username }}
                        <label class="block text-sm font-medium leading-6 text-gray-900">Email:</label>
                            {{ user_form.email }}
                    </div>
                    <div class="form-group">
                        <a href="#">Change Password</a>
                        <hr>
                        <label class="small mb-1">Change Avatar:</label>
                        {{ profile_form.avatar }}
                    </div>
                    <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>
{% endblock content %}