{% extends "home/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<style>
.avatar{
width: 100%;
height: auto;
display: flex;
text-align: center;
justify-content: center;
}
.avatar img{
    display: flex;
    text-align: center;
    justify-content: center;

  top: 0;
  left: 0;
  width: auto;

  background-size: cover;
  transition: opacity 0.5s ease;
}

.block{
    display: flex;
    justify-content: center;
}

.haft:nth-child(1)
{
    width: 300px;
    height: auto;
    margin:0px 10px 0px 10px;
}
.haft:nth-child(2)
{
    width: 600px;
    height: auto;
    margin: 0px 10px 0px 10px;
    padding: 10px 10px 10px 10px;
}
hr{
    border: 1px dashed #000000;
    width: 50%;
    size: 5px;
    color: #000000;
    border-style: dashed;
}
.form-group
{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

}
.form-left{
    width: 35%;
    text-align: center;
    justify-content: center;
}
.form-right{
    width: 65%;
    text-align: center;
    justify-content: center;
}
.content-form hr{

    width: 90%;
    size: 3px;
    opacity: 50%;
}
.form-group a{
    text-decoration: #000000 underline;
    border: 1px #ff6a6a dashed;
    border-radius: 5px;
}
.form-group a:hover{
    color: rgb(85, 85, 255);
    text-decoration:  #ff2020 underline;
    background-color: #91e5ff;
    
}



</style>
<div class="block">
    <div class = "haft">
        <div style="display:flex; width: 100%; justify-content: center; text-align: center;">Ảnh Đại Diện</div>
        <div class = "avatar"  >
            {% if 'http' in user.profile.avatar.url %}
            {% with https_url=user.profile.avatar.url|slice:'16:'|safe %}
                <img src="https://{{ https_url }}" alt="Ảnh" class="w-full h-auto">
            {% endwith %}
            {% else %}
            <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="w-full h-auto">
            {%endif%}


        </div>
        <div style="width: 100%;height: 10px; display: flex; text-align: center; justify-content: center;">
            <hr>
        </div>
        
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="haft"  style="height: auto;">
        <form class="content-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <p class="form-left">Username:</p>
                <p class="form-right">{{ user_form.username }} </p>
            </div>
            <hr>
            <div class="form-group">
                <p class="form-left">Email:</p>
                <p class="form-right">{{ user_form.email }} </p>
            </div>
            <hr>
            <div class="form-group">
                <p class="form-left">Change Avatar:</p>
                <p class="form-right">{{ profile_form.avatar }} </p>
            </div>
            <hr>
            <div class="form-group">
                <a href="{% url 'home:password_change' %}" class="form-left">Đổi mật khẩu ?</a>
                <p class="form-right"></p>
            </div>

            <div class="tracking-tight text-gray-900 text-center">
                <div class="lg:flex lg:gap-x-8">
                    <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" style="margin-bottom: 10px;">Save Changes</button>
                    <button type="reset" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" style="margin-bottom: 10px;">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}