{% extends 'home/base.html' %}
{% block title %}Shopping Cart{% endblock %}

{% block content %}
<!-- Phần hiển thị danh sách sản phẩm trong giỏ hàng -->
<div class="container mx-auto mt-6 flex ">
    <!-- Bên trái - Danh sách sản phẩm trong giỏ -->
    <div class="w-2/3 pr-4">
        {% for item in cart_items %}
        <div class="bg-white p-4 mb-4 relative flex items-center border-b border-gray-300">
            <img src="{{ item.image_link }}" alt="Product" class="w-16 h-full object-cover rounded mr-4">
            <div class="flex-1">
                <div class="flex justify-between items-center">
                    <h2 class="text-lg font-semibold">{{ item.name }}</h2>
                    <div class="flex items-center">
                        <button class="w-8 h-8 border bg-gray-200" value="increment">
                            <a href="{% url 'Cart:item_increment' item.item_id %}">+</a>
                        </button>
                        <button class="w-20 h-8 border" value="quantity">{{ item.quantity }}</button>
                        <button class="w-8 h-8 border bg-gray-200" value="decrement">
                            <a href="{% url 'Cart:item_decrement' item.item_id %}">-</a>
                        </button>
                        <button class="ml-20 text-red-500">
                            <a href="{% url 'Cart:item_clear' item.item_id %}">Remove</a>
                        </button>
                    </div>
                </div>
                <p id="total" class="text-red-600 font-bold">{{ item.price|floatformat:3 }} đ</p>
            </div>
        </div>
        {% endfor %}
        <!-- Thêm các sản phẩm khác trong giỏ tại đây -->
    </div>

    <!-- Bên phải - Order Summary -->
    <div class="w-1/3 bg-gray-100 p-4 rounded">
        <h2 class="text-lg font-semibold mb-4">Order Summary</h2>
        <div class="flex justify-between items-center border-b pb-2 mb-4">
            <span>Subtotal:</span>
            <span>{{ subtotal|floatformat:3 }}</span>
        </div>
        <div class="flex justify-between items-center border-b pb-2 mb-4">
            <span>Shipping estimate:</span>
            <span>{{ shipping|floatformat:3 }}</span>
        </div>
        <div class="flex justify-between items-center border-b pb-2 mb-4">
            <span>Tax estimate:</span>
            <span>{{ tax|floatformat:3 }}</span>
        </div>
        <div class="flex justify-between items-center mb-4">
            <span>Total:</span>
            <span class="text-red-500">{{ total|floatformat:3 }}</span>
        </div>
        <button class="bg-blue-500 text-white px-4 py-2 rounded">
            <a href="{% url 'home:checkout' %}">Checkout</a>
        </button>
    </div>
</div>
{% endblock %}
